/*
Author: Myles Wright
SDEV200
 */
 .button {
     -fx-background-color: darkslategrey; 
     -fx-text-fill: white;
 }
 .button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
 }
 .label {
     -fx-text-fill: white;
 }
 #topBar {
     -fx-background-color: transparent;
     -fx-font-weight: bold;
     -fx-text-fill: white;
     -fx-alignment: top-right;
 }
 #topBar:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
 }
 #topBar:hover {
     -fx-background-color: rgba(100,100,100, 0.5);
     -fx-background-radius: 0%;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
 }
 #topNav {
     -fx-alignment: top-right;
 }
 
 #menuBtn {
     -fx-background-radius: 0%;
     -fx-background-color: none;
     -fx-text-fill: black;
     -fx-font-size: 1.6em;
     -fx-min-width: 12.3em;
     -fx-min-height: 2.5em;
     -fx-text-alignment: center;
 }

 #menuBtn:hover {
     -fx-background-color: rgba(100,100,100, 0.5);
     -fx-scale-y: 1.05;
     -fx-scale-x: 1.05;
     -fx-font-weight: bold;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
 }
 #menuBtn:pressed {
    -fx-font-size: 1.3em;
 } 
 #textfield, .check-box *.box, .combo-box .cell:selected, .combo-box .arrow-button{
     -fx-background-color: lightgrey;
     -fx-text-fill: black;
 }
 .check-box:selected .mark, .combo-box .cell {
     -fx-background-color: dimgray; 
     -fx-text-fill: white;
 }
 .combo-box .cell:hover {
     -fx-background-color: lightgrey;
     -fx-text-fill: black;
 }
 #gridpane {
     -fx-padding: 0em;
     -fx-Vgap: 20px;
     -fx-Hgap: 5px;
     -fx-min-height: 0em;
     -fx-min-width: 30em;
     -fx-max-width: 30em;
     -fx-alignment: center;
     -fx-text-alignment: center;
 }
 .scroll-pane > .viewport{
     -fx-background-color: transparent;
     -fx-min-width: 30em;
 }
 .scroll-pane{
     -fx-background-color: transparent;
     -fx-min-width: 30em;
 }
#menu {
    -fx-padding: 2em;
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, darkgray, darkslategrey);
    -fx-alignment: center;
    -fx-opacity: 90%;
    -fx-max-width: 13em;
    -fx-min-width: 13em;
    -fx-min-height: 30em;
    -fx-max-height: 30em;
}
#editorRoot{
    -fx-background-image: url("/resources/images/background1.png");
    -fx-background-size: cover;
}
#fileRoot{
    -fx-padding: 0em;
    
}
#root{
    -fx-font-family: "Do Hyeon";
}
@font-face {
    src: url("DoHyeon-Regular.ttf");
}